@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu:wght@500&display=swap');
/*navbar*/

.navbar-logo{
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*main*/
main{
    padding-bottom: 20px
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;     
}
 body {
    background: -webkit-linear-gradient(180deg, #38b6ff,#787ed9);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(180deg, #38b6ff,#787ed9);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                              
}

h1{
    text-align: center;
    color: #f2f0eb;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}

 /*app*/

 .table-responsive {
    margin-bottom: 20px;
    background-color: #f2f0eb;  
    border-radius: 1%;
 }

/*footer*/


footer {
    width: 100%;
    bottom: 0;
    overflow: hidden;
    background: -webkit-linear-gradient(180deg, #38b6ff #787ed9,#5159c8);/* Chrome 10-25, Safari 5.1-6 */                          background: linear-gradient(180deg,#38b6ff #787ed9,#5159c8);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    border-style: solid;
    border-color: #24285e;
    border-width: 1px;
}

footer .row {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px 10px 10px ;

}

footer .col{
    display: flex;
    justify-content: space-between;
}


footer h4{
    color: rgb(244, 244, 244);
    margin-bottom: 5px;
    font-size: 22px;
    position: relative; 
    font-family: 'Ubuntu', sans-serif;
}


footer .col ul li{
    padding: 10px 0px;
}

footer a{
    color: white;
    font-size:16px ;
    opacity: 0.7;
}


footer .col ul li a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size:16px ;
    opacity: 0.7;
    transition: 0.5s;

}

footer .col input{
    border: none;
    width: 250px;
    height: 45px;
    display: block;
    padding-left: 20px;
    margin: 14px;

}

footer input{
    padding: 0px 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    color: white

}
